page-tabs {
  .tabs-md .tab-button[aria-selected=true] {
    color: #663399 !important;
    padding: 0 !important;
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #663399 !important;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }

}
