<ion-header>
  <ion-navbar color="fti">
    <ion-title>{{judul_page}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Tarik Untuk Refresh Halaman" refreshingSpinner="dots">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Cari Judul Skripsi" [(ngModel)]="keyword.Mahasiswa"></ion-searchbar>
  <ion-list *ngIf="dataSkripsi != null">
    <ion-card *ngFor="let ds of dataSkripsi | filterBy:keyword">
      <ion-card-content>
        <ion-card-title>
          <h3>{{ds.Id_prodi}} - {{ds.Tahun_lulus}} </h3>
          <hr>
          <p>{{ds.Judul}} </p>
        </ion-card-title>
        <hr>
        <p style="padding-bottom: 0 !important">
          {{ds.Mahasiswa }}
        </p><br>
        <ion-buttons end style="padding-top: 0 !important">
          <button style="border-radius: 4px;" ion-button small color="primary" class="right"
            (click)="download(ds.Id,ds.File)">
            <ion-icon name="archive"></ion-icon> &nbsp; Unduh Abstrak
          </button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content *ngIf="(dataSkripsi | filterBy: keyword).length === 0">
        <p>
          Data Skripsi yang di Cari Tidak Ada
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="dataSkripsi == null">
    <ion-card>
      <ion-card-content>
        <p>
          Tidak Ada Data Skripsi
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
