<ion-header>
  <ion-navbar color="fti">
    <ion-title>
      Catatan
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addNotes()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="items != null">
    <ion-item-sliding *ngFor="let item of items">

      <ion-item (click)="viewNotesDetail(item)">
        {{item.title}}
      </ion-item>

      <ion-item-options>
        <button ion-button icon-start color="danger" (click)="removeNotes(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="items.length == 0">
    <ion-card>
      <ion-card-content>
        <p>
          Belum ada Catatan
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
