page-detailmateri {
  .right {
    float: right;
  }

  .content ion-card {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
  }

  .content p {
    padding-bottom: 10px !important;
  }
}
