<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      {{judul}}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="jadwal">
      <ion-segment-button value="kuliah">
        Kuliah
      </ion-segment-button>
      <ion-segment-button value="ujian">
        Ujian
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="jadwal">
    <ion-list *ngSwitchCase="'kuliah'" class="kuliah">
      <ion-refresher (ionRefresh)="doRefreshkuliah($event)">
        <ion-refresher-content refreshingSpinner="bubbles">
        </ion-refresher-content>
      </ion-refresher>

      <ion-card *ngIf="dataJadwalKuliah_senin != null">
        <ion-card-title>
          <h2 style="padding-left: 5px;">Senin</h2>
        </ion-card-title>
        <ion-card-content *ngFor="let data of dataJadwalKuliah_senin">
          <p style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></p>
          <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="dataJadwalKuliah_selasa !=null">
        <ion-card-title>
          <h2 style="padding-left: 5px;">Selasa</h2>
        </ion-card-title>
        <ion-card-content *ngFor="let data of dataJadwalKuliah_selasa">
          <p style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></p>
          <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="dataJadwalKuliah_rabu !=null">
        <ion-card-title>
          <h2 style="padding-left: 5px;">Rabu</h2>
        </ion-card-title>
        <ion-card-content *ngFor="let data of dataJadwalKuliah_rabu">
          <p style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></p>
          <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="dataJadwalKuliah_kamis !=null">
        <ion-card-title>
          <h2 style="padding-left: 5px;">Kamis</h2>
        </ion-card-title>
        <ion-card-content *ngFor="let data of dataJadwalKuliah_kamis">
          <p style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></p>
          <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="dataJadwalKuliah_jumat !=null">
        <ion-card-title>
          <h2 style="padding-left: 5px;">Jumat</h2>
        </ion-card-title>
        <ion-card-content *ngFor="let data of dataJadwalKuliah_jumat">
          <p style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></p>
          <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="dataJadwalKuliah_sabtu !=null">
        <ion-card-title>
          <h2 style="padding-left: 5px;">Sabtu</h2>
        </ion-card-title>
        <ion-card-content *ngFor="let data of dataJadwalKuliah_sabtu">
          <p style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></p>
          <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'ujian'">
      <ion-refresher (ionRefresh)="doRefreshujian($event)">
        <ion-refresher-content refreshingSpinner="bubbles">
        </ion-refresher-content>
      </ion-refresher>

      <ion-list *ngSwitchCase="'ujian'" class="ujian">
        <div *ngIf="dataJadwalUjian != null">
          <ion-card *ngFor="let data of dataJadwalUjian">
            <ion-card-title>
              <h2 style="padding-left: 10px;"><b>
                  {{data.Tanggal_Ujian | date:'d MMM yyy'}}</b></h2>
            </ion-card-title>
            <ion-card-content>
              <h3 style="padding-left: 10px;"><b>{{data.Nama}} | {{data.Kelas}}</b></h3>
              <p style="padding-left: 20px;">{{data.Jam_mulai}} - {{data.Jam_selesai}}</p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="dataJadwalUjian == null">
          <ion-card>
            <ion-card-content>
              <p>
                Tidak Ada Jadwal Ujian
              </p>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-list>
    </ion-list>

  </div>
</ion-content>
