page-jadwal {
  .kuliah ion-card-title {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .kuliah ion-card-title h4 {
    padding-left: 10px !important;
    font-weight: bold;
  }

  .kuliah ion-card-content {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .ujian ion-card-title {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  .ujian ion-card-title h4 {
    padding-left: 10px !important;
    font-weight: bold;
  }

  .ujian ion-card-content {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
}
